# Local device files for the direnv tool
.direnv/

# The build directories
build/
.pio/

# Editor configuration
.vscode/

# Python executables
*.pyc

# Ignore files that is supposed to be local only
*local
