# Local device files for the direnv tool
.direnv/
.envrc

# The build directories
build/
.pio/
.cache/
libdeps/

# Local files should be ignored
*local
.vscode/c_cpp_properties.json
.vscode/launch.json
